@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  /* html {
    scroll-snap-type: y mandatory;
  } */

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: red;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: var(--background);
  }
  .bank_cover-image > img {
    @apply grayscale;
  }
}
