@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  /* a {
    pointer-events: none;
  }

  body {
    pointer-events: none;
  } */

  body {
    font-family: 'Noto Sans TC', sans-serif;
  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1c1c1c;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: var(--background);
  }

  .hide_scrollbar::-webkit-scrollbar {
    display: none;
  }

  .bank_cover-image > img {
    @apply grayscale;
  }

  details > summary#question_and_answer {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
  }

  details > summary#question_and_answer::before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #1c1c1c;
    position: absolute;
    top: 0.55rem;
    left: 1rem;

    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  details[open] > summary#question_and_answer:before {
    transform: rotate(90deg);
  }

  details > summary#question_and_answer {
    list-style-type: none;
  }
}
